<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD Express MongoDB test</title>
  </head>
  <body>
    <h1>Notes app</h1>
    <h2>Add note</h2>
    <form action="/notes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="note" name="note" />
      <button type="submit">Save note</button>
    </form>
    <h2>Notes in database</h2>
    <ul class="notes">
      <% for(var i = 0; i < notes.length; i++) {%>
      <li class="note">
        <span><%= notes[i].name %></span>:
        <span><%= notes[i].note %></span>
      </li>
      <% } %>
    </ul>
    <div>
      <h2>Change note author</h2>
      <p>Replace note written by author1 with another</p>
      <button id="update-button">Replace author</button>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
